/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(assets/fonts/Poppins-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Semibold';
    src: url(assets/fonts/Poppins-SemiBold.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Regular';
    src: url(assets/fonts/HindSiliguri-Regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Medium';
    src: url(assets/fonts/HindSiliguri-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Semibold';
    src: url(assets/fonts/HindSiliguri-SemiBold.woff2);
    font-display: swap;
}

body {
  color: #ffffff;
  padding-top: 130px;
  font-family: 'Poppins Medium', 'Hind Siliguri Medium';
  line-height: 1.7;
  background-color: #000729;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.nav-wrapper.hide {
  transform: translateY(-100%);
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 66px;
    top: 0;
    left: 0;
    right: 0;
    margin: 26px auto;
    border: 2px solid #0066ff;
    padding: 4px 30px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 0px 30px 4px rgba(0, 102, 255, 0.25);
}

.upper-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  background-color: #000729;
}

.logo-img {
    display: block;
    width: auto;
    height: 34px;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 7px;
}

.menu li {
    position: relative;
    font-family: 'Hind Siliguri Semibold';
    font-size: 1.32rem;
    cursor: pointer;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-item {
    display: inline-block;
    color: #ffffff;
    border-radius: 8px;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.nav-item:hover {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    transition: 0.3s ease-in;
}

.selected {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
}

.menu:hover .selected {
    background-color: transparent;
    box-shadow: none;
    color: inherit;
}

.nav-item.article:hover {
    background-color: #0066ff;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    color: white;
}

.nav-item.dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dropdown-icon {
    width: 14px;
    height: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #1A203F;
    border: 2px solid #0066ff;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 3px;
    text-align: center;
}

.dropdown-content hr {
    margin: 0;
    border: none;
    border-top: 2px solid #0066ff;
}

.dropdown-content a:hover {
    background-color: #0066ff;
}

li:hover .dropdown-content {
    display: block;
}

/* Page Layout */
.page-layout {
  display: flex;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  gap: 40px;
}

/* Blog Post */
.content {
  flex: 10;
}

.blog-post h3{
  display: inline-flex;
  align-items: center;
  color: #c8c8c8;
  font-family: 'Hind Siliguri Semibold';
  font-weight: normal;
  font-size: 1.25rem;
  letter-spacing: 0.7px;
  margin-left: 18px;
}

h3 .icon{
  width: 18px;
  height: auto;
  margin-right: 6.5px;
}

.blog-post h2 {
  font-family: 'Hind Siliguri Semibold';
  font-weight: normal;
  font-size: 2.35rem;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 7px auto 14px;
}

.date {
  display: inline-flex;
  align-items: center;
  font-family: 'Hind Siliguri Medium';
  font-size: 1rem;
  color: #a8a8a8;
  margin-left: 18px;
}

.date .icon {
  width: 16px;
  height: auto;
  margin-right: 6px;
}

.reading-time {
  display: inline-flex;
  align-items: center;
  font-family: 'Hind Siliguri Medium';
  font-size: 1rem;
  color: #a8a8a8;
  margin-left: 18px;
}

.reading-time .icon {
  width: 16px;
  height: auto;
  margin-right: 6px;
}

.main-image {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: auto;
  border: 2px solid #0066ff;
  margin: 10px auto 30px;
  box-shadow: 0px 0px 30px 2px rgba(0, 102, 255, 0.15);
}

.blog-post p {
  max-width: calc(100% - 10px);
  margin: 14px auto;
  color: #e4e4e4;
  font-family: 'Hind Siliguri Medium';
  letter-spacing: 0.4px;
  font-size: 1.065rem;
  text-indent: 17px;
}

/* Sidebar */
.sidebar {
  flex: 4;
  position: sticky;
  top: 120px;
  align-self: flex-start;
  font-family: 'Poppins Medium', 'Hind Siliguri Medium';
  height: fit-content;
  transition: top 0.3s ease;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  background-color: #0066ff;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 7px;
  box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
  white-space: nowrap;
}

.tag .icon {
  width: 14px;
  height: auto;
  margin-right: 5px;
}

.relevant-others {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  font-family: 'Hind Siliguri Semibold';
  font-size: 1.05rem;
  background-color: #0066ff;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 7px;
  box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
  white-space: nowrap;
}

.relevant-contents {
  width: 100%;
  height: 75px;
  margin-top: 18px;
  background-color: rgba(0, 102, 255, 0.25);
  border-radius: 10px;
}

/* Footer */
footer {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  padding: 50px 0;
  border-top: 2px solid #0066ff;
  box-shadow: 0px 0px 30px 4px rgba(0, 102, 255, 0.25);
  margin-top: 80px;
}

/* Trying to make it responsive */
@media (max-width: 600px) {
  body {
    padding-top: 110px;
  }

  .navbar {
    width: 92%;
    margin: 20px auto;
    padding: 8px 20px;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu li {
    font-size: 1.1rem;
  }

  .nav-item {
    padding: 5px 10px;
  }

  .blog-post h2 {
    font-size: 1.75rem;
  }

  .blog-post h3 {
    font-size: 1.1rem;
  }

  .date, .reading-time {
    font-size: 0.9rem;
    margin-left: 10px;
  }

  .blog-post p {
    font-size: 1rem;
    text-indent: 12px;
  }

  .tags, .relevant-others {
    justify-content: center;
  }

  .relevant-contents {
    height: 60px;
  }

  footer {
    font-size: 0.9rem;
    padding: 30px 0;
  }
}