/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Hind Siliguri Regular';
    src: url(HindSiliguri-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Medium';
    src: url(HindSiliguri-Medium.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Semibold';
    src: url(HindSiliguri-SemiBold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Regular.ttf);
    font-display: swap;
}

body {
  color: #ffffff;
  padding-top: 110px;
  font-family: 'Poppins', 'Hind Siliguri Medium';
  line-height: 1.7;
  background-color: #000729;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 88vw;
    height: 68px;
    margin: 30px auto;
    padding: 4px 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid #0066ff;
    box-shadow: 0px 0px 30px 4px rgba(0, 102, 255, 0.25);
    z-index: 1000;
}

.logo-img {
    display: block;
    width: auto;
    height: 36px;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 12px;
}

.menu li {
    font-family: 'Hind Siliguri Semibold';
    font-size: 1.312rem;
    cursor: pointer;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
}
.dropdown:hover {
    fill: #000;
}

.nav-item {
    display: inline-block;
    color: #ffffff;
    border-radius: 8px;
    padding: 2px 10px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.nav-item:hover {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    transition: 0.3s ease-in;
}

.selected {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
}

.menu:hover .selected {
    background-color: transparent;
    box-shadow: none;
    color: inherit;
}

.nav-item.article:hover {
    background-color: #0066ff;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    color: white;
}


/* Page Layout */
.page-layout {
  display: flex;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  /* padding: 20px; */
  gap: 40px;
}

/* Blog Post */
.content {
  flex: 10;
  margin-top: 10px;
}

.blog-post h3{
  display: inline-flex;
  align-items: center;
  color: #c8c8c8;
  font-family: 'Hind Siliguri Regular';
  font-size: 1.25rem;
  letter-spacing: 1.3px;
  margin-left: 18px;
}

h3 .icon{
  width: 20px;
  height: auto;
  margin-right: 6.5px;
}

.blog-post h2 {
  font-family: 'Hind Siliguri Regular';
  font-size: 2.35rem;
  letter-spacing: 1.3px;
  line-height: 1.2;
  margin: 8px auto;
}

.date {
  display: inline-flex;
  align-items: center;
  font-family: 'Hind Siliguri Medium';
  font-size: 1rem;
  color: #a8a8a8;
  margin-left: 18px;
}

.date .icon {
  width: 16.5px;
  height: auto;
  margin-right: 6.5px;
}

.main-image {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: auto;
  border: 2px solid #0066ff;
  margin: 20px auto 30px;
  box-shadow: 0px 0px 30px 2px rgba(0, 102, 255, 0.15);
}

.blog-post p {
  max-width: calc(100% - 10px);
  margin: 12px auto;
  color: #dfdfdf;
  font-family: 'Hind Siliguri Medium';
  letter-spacing: 0.3px;
  font-size: 1.062rem;
  text-indent: 17px;
}

/* Sidebar */
.sidebar {
  flex: 3;
  position: sticky;
  top: 120px;
  align-self: flex-start;
  font-family: 'Poppins', 'Hind Siliguri Medium';
  height: fit-content;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  background-color: #0066ff;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 6.5px;
  box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
  white-space: nowrap;
}

.tag .icon {
  width: 14px;
  height: auto;
  margin-right: 5px;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
}