/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Hind Siliguri Regular';
    src: url(assets/fonts/HindSiliguri-Regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Medium';
    src: url(assets/fonts/HindSiliguri-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Semibold';
    src: url(assets/fonts/HindSiliguri-SemiBold.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins-Regular.woff2);
    font-display: swap;
}

body {
  color: #ffffff;
  padding-top: 110px;
  font-family: 'Poppins', 'Hind Siliguri Medium';
  line-height: 1.7;
  background-color: #000729;
}

.container {
  width: 650px;
  margin-left: 80px;
  margin-right: auto;
  padding: 20px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    margin: 30px auto;
    width: 87%;
    padding: 4px 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid #0066ff;
    box-shadow: 0px 0px 30px 4px rgba(0, 102, 255, 0.25);
}

.logo-img {
    display: block;
    width: auto;
    height: 24px;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 12px;
}

.menu li {
    font-family: 'Hind Siliguri Semibold';
    font-size: 21px;
    cursor: pointer;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
}
.dropdown:hover {
    fill: #000;
}

.nav-item {
    display: inline-block;
    color: #ffffff;
    border-radius: 8px;
    padding: 2px 10px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.nav-item:hover {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    transition: 0.3s ease-in;
}

.selected {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
}

.menu:hover .selected {
    background-color: transparent;
    box-shadow: none;
    color: inherit;
}

.nav-item.article:hover {
    background-color: #0066ff;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    color: white;
}

/* Blog Post */

.blog-post h3{
  color: #808394;
  font-family: 'Hind Siliguri Regular';
  font-size: 21px;
  letter-spacing: 1.3px;
  margin-left: 12px;
  margin-bottom: -2px;
}

.blog-post h2 {
  font-family: 'Hind Siliguri Regular';
  font-size: 35px;
  letter-spacing: 1.3px;
}

.main-image {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: auto;
  border: 2px solid #0066ff;
  margin: 20px auto 30px;
  box-shadow: 0px 0px 30px 2px rgba(0, 102, 255, 0.15);
}

.blog-post p {
  max-width: calc(100% - 10px);
  margin: 12px auto;
  color: #dfdfdf;
  font-family: 'Hind Siliguri Medium';
  letter-spacing: 0.3px;
  font-size: 17px;
  text-indent: 17px;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

/* Responsive 
@media (max-width: 768px) {
  .logo, nav {
    float: none;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }
}