/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins Medium';
    src: url(assets/fonts/Poppins-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins Semibold';
    src: url(assets/fonts/Poppins-SemiBold.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Medium';
    src: url(assets/fonts/HindSiliguri-Medium.woff2);
    font-display: swap;
}

@font-face {
    font-family: 'Hind Siliguri Semibold';
    src: url(assets/fonts/HindSiliguri-SemiBold.woff2);
    font-display: swap;
}

body {
  color: #ffffff;
  padding-top: 130px;
  font-family: 'Poppins Semibold', 'Hind Siliguri Medium';
  line-height: 1.7;
  background-color: #000729;
  overflow: hidden;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.nav-wrapper.hide {
  transform: translateY(-100%);
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 66px;
    top: 0;
    left: 0;
    right: 0;
    margin: 26px auto;
    border: 2px solid #0066ff;
    padding: 4px 30px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 0px 30px 4px rgba(0, 102, 255, 0.25);
}

.upper-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  background-color: #000729;
}

.logo-img {
    display: block;
    width: auto;
    height: 34px;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 7px;
}

.menu li {
    font-family: 'Hind Siliguri Semibold';
    font-size: 1.3rem;
    cursor: pointer;
}

.dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-item {
    display: inline-block;
    color: #ffffff;
    border-radius: 8px;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.nav-item:hover {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    transition: 0.3s ease-in;
}

.selected {
    background-color: #0066ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
}

.menu:hover .selected {
    background-color: transparent;
    box-shadow: none;
    color: inherit;
}

.nav-item.home:hover {
    background-color: #0066ff;
    box-shadow: 0 0 10px 3px rgba(0, 102, 255, 0.25);
    color: white;
}

/* Main Content */
.main-content {
    position: absolute;
    top: 80px;
    left: 65px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 50vh;
    text-align: left;
}

.tagline {
    font-family: 'Poppins Semibold';
    font-size: 46px;
    font-weight: normal;
    margin-top: 0px;
    background: linear-gradient(120deg, #0066ff 0%, #00aeff 50%, #0066ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #0066ff;
    width: 0;
    animation:
    typing 1.25s steps(28, end) forwards 0.3s,
    blinking 1s step-end infinite 2.1s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0%, 100% { border-color: transparent; }
    50% { border-color: #0066ff; }
}